<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Nouvel utilisateur</h1>
</div>
<div class="wrapper-md">
  <tabset class="tab-container">
    <tab heading="Etape 1" active="steps.step1">
      <p class="m-b">Informations personnelles</p>
      <form name="step1" class="form-validation">
          <label for="name">Nom :</label>
          <input id="name" type="text" name="name" class="form-control" ng-model="formUser.name" required>
          <br />
          <label for="email">Email :</label>
          <input id="email" type="email" name="email" class="form-control" ng-model="formUser.email" required>
          <br />
          <label for="password">Mot de passe :</label>
          <input id="password" type="password" name="password" class="form-control" ng-model="formUser.password" required>
          <br />
          <label for="verifPassword">Vérification du mot de passe :</label>
          <input id="verifPassword" type="password" class="form-control" ng-model="formUser.passwordVerif" required>
          <br />
          <div class="m-t m-b">
            <button type="submit" ng-disabled="step1.$invalid || formUser.password != formUser.passwordVerif" class="btn btn-primary" ng-click="steps.step2=true">Suivant</button>
          </div>
      </form>
    </tab>

    <tab heading="Etape 2" disabled="step1.$invalid" active="steps.step2">
      <form name="step2" class="form-validation">
        <p class="m-b">Type de compte</p>
          <label for="type">Type :</label>
          <select name="type" id="type" class="form-control" ng-model="formUser.level" required>
              <option value>Choisissez un type d'utilisateur</option>
              <option value="0">Administrateur</option>
              <option value="1">Employé</option>
              <option value="2">Client</option>
          </select>
          <div class="m-t m-b">
          <button type="button" class="btn btn-primary" ng-click="steps.step1=true">Précédent</button>
          <button type="submit" ng-disabled="step2.$invalid" class="btn btn-primary" ng-click="steps.step3=true">Suivant</button>
        </div>
      </form>
    </tab>

    <tab heading="Etape 3" disabled="step2.$invalid" active="steps.step3">
      <p class="m-b">Récapitulatif</p>
        <form name="step_final" class="form-validation">
            <label class="label-control" for="name">Nom : </label>
            <input class="form-control" name="name" type="text" ng-model="formUser.name" disabled required/>
            <br />
            <label class="label-control" for="email">Email : </label>
            <input class="form-control" name="email" type="email" ng-model="formUser.email" disabled required/>
            <br />
            <label class="label-control" for="type">Level : </label>
            <input class="form-control" name="type" type="text" ng-model="formUser.level" disabled required/>
        </form>
      <div class="m-t m-b">
        <button type="button" class="btn btn-primary" ng-click="steps.step2=true">Précédent</button>
        <button ng-disabled="step_final.$invalid" type="button" ng-click="addUser(formUser)" class="btn btn-success">Terminer</button>
      </div>
    </tab>
  </tabset>
</div>