<div class="container w-xxl w-auto-xs">
  <a href class="navbar-brand block m-t">{{app.name}}</a>
  <div class="m-b-lg">
    <div class="wrapper text-center">
      <strong>Connectez-vous</strong><br />
      <strong style="color: red;" data-ng-bind="errorSignin"></strong>
    </div>
    <form novalidate name="signin" ng-submit="submit()">
      <div class="list-group list-group-sm">
        <div class="list-group-item {{isValid}}">
          <input name="email" ng-model="user.email" type="email" placeholder="Email" class="form-control no-border" required>
        </div>
        <div class="list-group-item">
           <input ng-model="user.password" type="password" placeholder="Mot de passe" class="form-control no-border" required>
        </div>
      </div>
      <button type="submit" ng-disabled="signin.$invalid" class="btn btn-lg btn-primary btn-block" disabled data-ng-bind-html="btnConnect"></button>
      <div class="text-center m-t m-b"><a data-ui-sref="access.forgotpwd">Mot de passe oublié ?</a></div>
    </form>
  </div>
</div>